@import 'variables';
@import 'mixins';

.create-banks {
  &__container {
    padding: 20px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: $gutter-medium;
    max-width: 500px;
    margin: 0 auto;
  }
}