<div class="header__logo logo">
  <span>BANKING</span>
</div>

<nav class="header__navigation navigation">
  <ul class="navigation__list">
    <li
      *ngFor="let nav of navigation; let first = first"
      class="navigation__item"
    >
      <a class="navigation__link" [class._active]="first" href="#">{{ nav }}</a>
    </li>
  </ul>
</nav>

<div class="header__actions actions">
  @if (isLoggedIn$ | async) {
  <button mat-button>Профиль</button>
  } @else {
  <button mat-button (click)="goToDepositCreate()">Добавить продукт</button>
  <button mat-button (click)="onRegisterClick()">Регистрация</button>
  <button mat-raised-button (click)="onLoginClick()">Вход</button>
  }
</div>
