@import "apps/frontend/src/styles";

:host {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  &__logo {

  }

  &__navigation {
    height: 100%;
  }

  &__actions {

  }
}

.logo {
  pointer-events: none;
  user-select: none;
  font-size: $font-size-large;
  line-height: $line-height-large;
  font-weight: $font-weight-bold;
  letter-spacing: $letter-spacing-logo;
}

.actions {
  padding: $gutter-medium;

  &__link {

  }
}

.navigation {
  font-weight: $font-weight-bold;

  &__list {
    display: flex;
  }

  &__item {
    &:not(:last-child) {
      margin-right: $gutter-large;
    }
  }

  &__link {
    height: 100%;
    color: $font-color;
    text-decoration: none;

    &._active {
      color: $font-color-attention;
    }
  }
}
