@import "apps/frontend/src/styles";

:host {
  display: flex;

  @include respond-to('medium') {
    justify-content: center;
  }
}

.deposit-create {
  &__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;

    @include respond-to('medium') {
      justify-content: center;
      width: 640px;
    }

    @include respond-to('large') {
      justify-content: center;
      width: 840px;
    }
  }

  &__title {
    margin-bottom: 2rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}