<div class="deposit-create__wrapper">
  <form class="deposit-create__form" [formGroup]="formGroup">
    <mat-form-field>
      <mat-label>Банк</mat-label>
      <mat-select [compareWith]="compareFn" formControlName="bank">
        @for (bank of banks$ | async; track bank.id) {
        <mat-option [value]="bank">{{ bank.shortName }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Тип продукта</mat-label>
      <mat-select [compareWith]="compareFn" formControlName="depositType">
        @for (type of depositTypes$ | async; track type.id) {
        <mat-option [value]="type">{{ type.name }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field floatLabel="always">
      <mat-label>Начальная сумма</mat-label>
      <input matInput type="number" placeholder="0,00" formControlName="amount" />
    </mat-form-field>

    <mat-form-field floatLabel="always">
      <mat-label>Процентная ставка</mat-label>
      <input matInput type="number" placeholder="0,00" formControlName="percent" />
      <mat-hint>Введите процентную ставку (0-100)</mat-hint>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Дата открытия</mat-label>
      <input matInput [matDatepicker]="startDatePicker" formControlName="startDate">
      <mat-hint>ММ.ДД.ГГГГ</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="startDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #startDatePicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Дата закрытия</mat-label>
      <input matInput [matDatepicker]="endDatePicker" formControlName="endDate" (dateChange)="onEndDateChange($event)">
      <mat-hint>ММ.ДД.ГГГГ</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="endDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #endDatePicker></mat-datepicker>
      @if (formGroup.get('endDate')?.touched && !isEndDateValid()) {
      <mat-error>Дата закрытия не может быть раньше даты начала</mat-error>
      }
    </mat-form-field>

    <!-- Сегментный переключатель для выбора периода -->
    <mat-button-toggle-group [value]="selectedPeriod" (change)="onPeriodChange($event.value)" multiple="false">
      @for (option of periodOptions; track option.label) {
      <mat-button-toggle [value]="option.value">
        {{ option.label }}
      </mat-button-toggle>
      }
    </mat-button-toggle-group>

    <button mat-raised-button type="submit" (click)="save()">Создать</button>
  </form>
</div>