@import 'apps/frontend/src/styles';

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: $container-width;

  @include respond-to('small') {
    color: blue;
  }
}

main {
  flex: 1;
  padding: 2rem;
  overflow-y: auto;

  @include respond-to('large') {
    height: 100%;
  }
}

footer {
  flex: 0 0 auto;
  background-color: $color-info;
}