@import 'apps/frontend/src/styles';

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: $container-width;
}

header {
  flex: 0 0 auto;
  border-bottom: $border-header;
  box-shadow: $box-shadow;
  background-color: $white;
}

main {
  flex: 1;
  padding: 2rem;
  overflow-y: auto;
}

footer {
  flex: 0 0 auto;
  background-color: $color-info;
}
