@if (isLoading$ | async) {
<div class="deposit-list__loading">
  <mat-spinner></mat-spinner>
</div>
} @else {
<div class="deposit-list__container">
  <header class="deposit-list__header">
    <banking-create-button (click)="onCreateDeposit()">Создать новый вклад</banking-create-button>
  </header>

  <!-- Фильтр по банкам -->
  @if (banks$ | async; as banks) {
  <div class="deposit-list__bank-filters">
    <mat-chip-set>
      <mat-chip [class.active]="!filter.bankId?.length" (click)="selectBank(null)">
        Все банки
      </mat-chip>
      @for (bank of banks; track bank.id) {
      <mat-chip (click)="selectBank(bank.id)">
        {{ bank.shortName }}
      </mat-chip>
      }
    </mat-chip-set>
  </div>
  } @else {
  <div class="deposit-list__banks-loader">
    <mat-spinner diameter="24"></mat-spinner>
  </div>
  }

  @let deposits = items$ | async;
  @if (deposits?.length === 0) {
  <banking-empty-state>
    <ng-container empty-title>У вас пока нет вкладов</ng-container>
    <ng-container empty-message>
      Создайте первый вклад и начните накапливать средства с выгодной процентной ставкой
    </ng-container>
  </banking-empty-state>
  }

  <section class="deposit-list__deposit-list">
    @for (deposit of deposits; track deposit.id) {
    <banking-deposit-card class="deposit-list__deposit-item" [deposit]="deposit" (delete)="onDelete(deposit.id)"
      appScrollTrigger (scrollEnd)="loadMoreItems()">
    </banking-deposit-card>
    }
  </section>

  @if (isLoadingMore) {
  <div class="deposit-list__loader">
    <mat-spinner diameter="40"></mat-spinner>
  </div>
  }
</div>
}