@import 'variables';
@import 'mixins';

.invest-create {
  &__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1.5rem;

    @include respond-to('medium') {
      justify-content: center;
      width: 640px;
      margin: 0 auto;
    }

    @include respond-to('large') {
      justify-content: center;
      width: 840px;
      margin: 0 auto;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: $gutter-medium;
    width: 100%;
  }

  &__field {
    display: flex;
    flex-direction: column;
    gap: $gutter-small;
  }

  &__label {
    font-size: $font-size-md;
    font-weight: $font-weight-medium;
  }

  &__chart {
    width: 100%;
    padding: 1.5rem 0;
  }
}
