@import "apps/frontend/src/styles";

:host {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home {
  &__deposit-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;

    @include respond-to('medium') {
      grid-template-columns: repeat(2, 1fr);
    }

    @include respond-to('large') {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__deposit-item {
    width: 100%;

    @include respond-to('medium') {
      max-width: 450px;
    }
  }
}