:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login {
  &__form {
    display: flex;
    width: 50%;
    flex-direction: column;
    gap: 1rem;
  }
}
