@import 'variables';
@import 'mixins';

:host {
  display: block;
}

.profile {
  &__container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    gap: $gutter-small;
    padding: $gutter-small;
  }
}