.confirm-delete-dialog {
  &__container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }

  &__title {
    color: #222831;
    margin-bottom: 16px;
  }

  &__content {
    color: #666666;
    margin: 0;
    line-height: 1.6;
  }

  &__actions {
    padding-top: 16px;
    display: flex;
    justify-content: flex-end;
    gap: 8px;
  }
}
