<mat-toolbar class="wrapper__toolbar" color="primary">
  <div class="wrapper__burger">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>

  <div class="wrapper__logo">
    <span>BANKING</span>
  </div>

  <div class="wrapper__spacer"></div>

  <div class="wrapper__navigation">
    <ng-container *ngTemplateOutlet="navButtonsTemplate"></ng-container>
  </div>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav class="wrapper__sidenav" color="primary" #sidenav mode="over" opened="false">
    <div class="wrapper__sidenav-container" (click)="sidenav.close()">
      <ng-container *ngTemplateOutlet="navButtonsTemplate"></ng-container>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="wrapper__content">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #navButtonsTemplate>
  @if (isLoggedIn$ | async) {
  <button mat-button (click)="onDepositCreate()">Добавить продукт</button>
  <button mat-button>Профиль</button>
  } @else {
  <button mat-button (click)="onRegisterClick()">Регистрация</button>
  <button mat-raised-button (click)="onLoginClick()">Вход</button>
  }
</ng-template>