@import 'variables';

.create-button {
  background: $color-primary;
  color: $white;
  padding: $gutter-small $gutter-large;
  font-weight: $font-weight-bold;
  border-radius: $border-radius-md;
  box-shadow: $box-shadow-sm;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: $gutter-small;

  &:hover {
    box-shadow: $box-shadow-md;
  }
}