<mat-card appearance="outlined">
  <mat-card-header>
    <div mat-card-avatar class="deposit-card__avatar"></div>
    <mat-card-title>Вклад, 15%</mat-card-title>
    <mat-card-subtitle>Альфа-банк</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-progress-bar class="deposit-card__progress-bar"></mat-progress-bar>
    <p>Здесь комментарий для себя, оставленный при создании карточки</p>
  </mat-card-content>
  <mat-card-actions class="deposit-card__actions">
    <button mat-button>Изменить</button>
    <button mat-raised-button>Удалить</button>
  </mat-card-actions>
</mat-card>
