@if (isLoading$ | async) {
<div class="invest-list__loading">
    <mat-spinner></mat-spinner>
</div>
} @else {
<div class="invest-list__container">
    @let invests = invests$ | async;
    <header class="invest-list__header">
        <banking-create-button (click)="onCreateInvest()">Завести инвестицию</banking-create-button>
    </header>

    @if (invests?.length === 0) {
    <banking-empty-state>
        <ng-container empty-title>У вас пока нет инвестиций</ng-container>
        <ng-container empty-message>Ну и нехуй начинать</ng-container>
    </banking-empty-state>
    }

    <section class="invest-list__list">
        @for (invest of invests; track invest.id) {
        <banking-invest-card class="invest-list__item" [invest]="invest" (delete)="onDelete($event)">
        </banking-invest-card>
        }
    </section>
</div>
}