<banking-card-layout>
  <div card-header>
    <div class="profile__card-header">
      <h2 class="profile__card-title">Персональная информация</h2>
      <button class="profile__edit-button" mat-icon-button (click)="toggleEdit()">
        <mat-icon>edit</mat-icon>
      </button>
    </div>
  </div>

  <div card-body>
    @if (!isEditing) {
    <div class="profile__content">
      <div class="profile__field">
        <span class="profile__label">Имя:</span>
        <span class="profile__value">{{ user?.firstName || 'Не указано' }}</span>
      </div>
      <div class="profile__field">
        <span class="profile__label">Фамилия:</span>
        <span class="profile__value">{{ user?.lastName || 'Не указано' }}</span>
      </div>
      <div class="profile__field">
        <span class="profile__label">Отчество:</span>
        <span class="profile__value">{{ user?.patronymic | notSpecified }}</span>
      </div>
    </div>
    } @else {
    <form [formGroup]="personalForm" (ngSubmit)="saveInfo()" class="profile__form">
      <mat-form-field class="profile__input" appearance="outline">
        <mat-label>Имя</mat-label>
        <input matInput formControlName="firstName" required>
        <mat-error>
          @if (personalForm.get('firstName')?.hasError('required')) {
          Имя обязательно для заполнения
          }
        </mat-error>
      </mat-form-field>

      <mat-form-field class="profile__input" appearance="outline">
        <mat-label>Фамилия</mat-label>
        <input matInput formControlName="lastName" required>
        <mat-error>
          @if (personalForm.get('lastName')?.hasError('required')) {
          Фамилия обязательна для заполнения
          }
        </mat-error>
      </mat-form-field>

      <mat-form-field class="profile__input" appearance="outline">
        <mat-label>Отчество</mat-label>
        <input matInput formControlName="patronymic">
      </mat-form-field>

      <div class="profile__actions">
        <button class="profile__cancel-button" mat-button type="button" (click)="resetForm()">Отмена</button>
        <button class="profile__save-button" mat-raised-button color="primary" type="submit"
          [disabled]="personalForm.invalid">
          <mat-spinner diameter="20"></mat-spinner>
          <span>Сохранить</span>
        </button>
      </div>
    </form>
    }
  </div>
</banking-card-layout>
