<profile-section-layout [title]="'Персональная информация'">
  <div class="profile__content" profile-body>
    <div class="profile__field">
      <span class="profile__label">Имя:</span>
      <span class="profile__value">{{ user?.firstName || 'Не указано' }}</span>
    </div>
    <div class="profile__field">
      <span class="profile__label">Фамилия:</span>
      <span class="profile__value">{{ user?.lastName || 'Не указано' }}</span>
    </div>
    <div class="profile__field">
      <span class="profile__label">Отчество:</span>
      <span class="profile__value">{{ user?.patronymic | notSpecified }}</span>
    </div>
  </div>

  <form [formGroup]="personalForm" (ngSubmit)="saveInfo()" class="profile__form" profile-form>
    <mat-form-field class="profile__input" appearance="outline">
      <mat-label>Имя</mat-label>
      <input matInput formControlName="firstName" required>
      <mat-error>
        @if (personalForm.get('firstName')?.hasError('required')) {
        Имя обязательно для заполнения
        }
      </mat-error>
    </mat-form-field>

    <mat-form-field class="profile__input" appearance="outline">
      <mat-label>Фамилия</mat-label>
      <input matInput formControlName="lastName" required>
      <mat-error>
        @if (personalForm.get('lastName')?.hasError('required')) {
        Фамилия обязательна для заполнения
        }
      </mat-error>
    </mat-form-field>

    <mat-form-field class="profile__input" appearance="outline">
      <mat-label>Отчество</mat-label>
      <input matInput formControlName="patronymic">
    </mat-form-field>
  </form>
</profile-section-layout>