<profile-section-layout [title]="'Контактная информация'">
  <div class="profile__content" profile-body>
    <div class="profile__field">
      <span class="profile__label">Email:</span>
      <span class="profile__value">{{ user?.email }}</span>
    </div>
    <div class="profile__field">
      <span class="profile__label">Логин:</span>
      <span class="profile__value">{{ user?.name }}</span>
    </div>
  </div>

  <form [formGroup]="contactForm" (ngSubmit)="saveInfo()" class="profile__form" profile-form>
    <mat-form-field class="profile__input" appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="email" required>
      <mat-error>
        @if (contactForm.get('email')?.hasError('required')) {
        Email обязателен для заполнения
        }
        @else if (contactForm.get('email')?.hasError('email')) {
        Некорректный формат email
        }
      </mat-error>
    </mat-form-field>

    <mat-form-field class="profile__input" appearance="outline">
      <mat-label>Логин</mat-label>
      <input matInput formControlName="username" required>
      <mat-error>
        @if (contactForm.get('username')?.hasError('required')) {
        Логин обязателен для заполнения
        }
      </mat-error>
    </mat-form-field>
  </form>
</profile-section-layout>