<div class="footer__column">
  <div class="footer__column-title">Информация</div>
  <div class="link-group__link">adddwawa</div>
  <div class="link-group__link">adddwawa</div>
  <div class="link-group__link">adddwawa</div>
  <div class="link-group__link">adddwawa</div>
  <div class="link-group__link">adddwawa</div>
</div>

<div class="footer__column">
  <div class="footer__column-title">Информация</div>
  <div class="link-group__link">adddwawa</div>
  <div class="link-group__link">adddwawa</div>
  <div class="link-group__link">adddwawa</div>
</div>

<div class="footer__column">
  <div class="footer__column-title">Информация</div>
  <div class="link-group__link">adddwawa</div>
  <div class="link-group__link">adddwawa</div>
</div>

<div class="footer__column">
  <div class="footer__column-title">Информация</div>
  <div class="link-group__link">adddwawa</div>
  <div class="link-group__link">adddwawa</div>
  <div class="link-group__link">adddwawa</div>
  <div class="link-group__link">adddwawa</div>
  <div class="link-group__link">adddwawa</div>
  <div class="link-group__link">adddwawa</div>
</div>

<div class="footer__column">
  <div class="footer__column-title">Информация</div>
  <div class="link-group__link">adddwawa</div>
  <div class="link-group__link">adddwawa</div>
  <div class="link-group__link">adddwawa</div>
</div>
