@import "apps/frontend/src/styles";

:host {
  display: grid;
  padding: 2rem;
  gap: 2rem;
  grid-template-columns: 1fr;

  @include respond-to('medium') {
    grid-template-columns: repeat(3, auto);
  }

  @include respond-to('large') {
    grid-template-columns: repeat(5, auto);
  }
}

.footer {
  &__column-title {
    margin-bottom: 2rem;
    font-size: $font-size-medium;
    color: $white;
  }

  &__column {
    display: flex;
    color: $color-secondary;
    flex-direction: column;
  }

  &__link {
    text-decoration: none;
  }
}